$main-loader-size: 300px;
$image-size: 125px;
// Main Font Family
$font:  'Manjari', sans-serif;
// Main Theme Colors
$theme-basic: #0050a5;
$theme-basic-light: #feb63d;
$theme-dark: #333333;
$dark-text-color: #626262;
$text-color: #8b8b8b;
$light-text-color: #c5c5c5;
$success-color: #088c50;